a {
	color: #000000;
	font-size: 14px;
}
.layui-nav *{font-size:16px}
.jgdiv{
	width: 100%; 
	height: 10px; 
}
.bottom_diji{
	margin: 0 auto;
	height:200px;
	width: 1000px;
	background: url(/r3/imgs/wygkcn.gif)no-repeat;
}
.bottom_diji_neir{
	text-align: center;
	height:200px;
	width: 1000px;
}
.ztjc{
	font-weight: 900;
}

.liclass01 {
	padding: 5px;
}

.spandiv {
	color: #000000;
	float: right;
}
.liclass {
	height: 25px;
	line-height: 25px;
	margin: 5px 10px 0px 10px;
}
